In [3]:
import sqlite3 as sq

In [9]:
connect= sq.connect('movies.db')

In [11]:
cursor = connect.cursor()

In [12]:
cursor.execute('''create table sample (name text, aantal int)''')

In [13]:
waardes = ('Ali Ihsan',48)
cursor.execute('''insert into sample values (?,?)''', waardes)

In [16]:
cursor.execute('''select * from sample''')
res = cursor.fetchall()
print(res)

[('Ali Ihsan', 48)]